<div class="container-fluid">
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <mat-card class="login_card">
          <div class="form-group">
            <input class="form-control" placeholder="Email" formControlName="email">
            <input class="form-control" placeholder="Password" formControlName="password">
          </div>
          <div class="form-group text-center">
            <button mat-raised-button class="login_btn">LOGIN</button>
          </div>
      </mat-card>
    </div>
    <div class="col-md-4"></div>
  </div>
</div>