<div class="container-fluid">
    <div class="row">
        <mat-toolbar>
            <mat-toolbar-row class="header">
                <span>LOGO</span>
                <span class="example-spacer"></span>
                <span>Service Desk Admin Portal</span>
                <span class="example-spacer"></span>
            </mat-toolbar-row>
        </mat-toolbar>
    </div>
    
    <div class="row">
        <div class="col-md-12 sideNavRow">
            <mat-drawer-container class="example-container" autosize>
                <mat-drawer (mouseenter)="increase()" (mouseleave)="decrease()" #drawer class="example-sidenav"
                    mode="side">
                    <ul class="nav flex-column">
                        <li class="nav-item" *ngFor="let item of sidenavElements">
                            <div class="nav-link" [ngClass]="{'active':item.name==selectedItem}"
                                (click)="selectedItem=item.name;decrease()" [routerLink]="[item.routerLink]"
                                href="javascript:void(0)">
                                <span>{{expandSideNav?item.name:''}}</span>&nbsp;<span style="float:right;">
                                    <mat-icon md-list-icon>{{item.icon}}</mat-icon>
                                </span>
                                <!-- <span>
                          <mat-icon md-list-icon>{{item.icon}}</mat-icon>
                        </span>
                        <span>{{expandSideNav?item.name:''}}</span>&nbsp; -->
                            </div>
                        </li>
                    </ul>
                </mat-drawer>
                <router-outlet></router-outlet>
            </mat-drawer-container>
        </div>
    </div>

</div>