
  .header{
      color:#fff;
      background-image: url('/assets/images/images.jpg');
      background-repeat: no-repeat;
      width:100%;
  }
  .example-spacer{
      flex: 1 0 auto;
    }
   
    
    